body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  background: salmon;
}
.container {
  padding: 20px;
  width: 400px;
  background: lightpink;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
.textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  font-size: 18px;
  font-family: sans-serif;
  border: 2px solid darkgray;
}
/* h2 {
  border: 2px solid red;
} */
.charCount{
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}